*{
    margin: 0;
    padding: 0;
    font-family: 'Lemonada', sans-serif;
}

#canvas{
    background: black;
}

#controlorb{
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: white;
}

#controlorb ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;

}

#controlorb ul li{
    cursor: pointer;
    transition: all 0.1s;
}

#controlorb ul li:hover{
    color: green;
}

#control{
    position: absolute;
    right: 2em;
    top: 2em;
    color: white;
}

#info-video{
    position: absolute;
    top: 2em;
    left: 1em;
}
#info-video iframe{
    border: none;
}